# Binance API (публичные данные, ключ не обязателен)
BINANCE_API_KEY=
BINANCE_API_SECRET=

# Telegram Bot Token (получить у @BotFather)
TELEGRAM_BOT_TOKEN=8714004780:AAFvbw0UIm9G0FTsg444a_0ICBQab6yizM0
TELEGRAM_CHAT_ID=668580566

# Twilio (для WhatsApp уведомлений)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_WHATSAPP_TO=whatsapp:+79001234567
